@import './variable.scss';
@mixin datepickerInput {
    .p-calendar {
        width: 100%;
        height: 4.5vh;
        font-size: 14px;
    }

    .p-button {
        height: 4.5vh;
        font-size: 14px;
    }

    .p-inputtext-sm {
        padding: 0 !important;
        margin-top: 0px !important;
        width: 100% !important;
    }

    .p-datepicker-dropdown {
        background-color: $color-primary !important;
    }

    .p-datepicker-panel {
        background-color: white !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.225) !important;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: transparent !important;
    }

    .p-datepicker-header {
        background-color: transparent !important;
    }

    .p-datepicker-select-month,
    .p-datepicker-select-year {
        color: black !important;
    }

    .p-datepicker-next-button,
    .p-datepicker-prev-button {
        color: $color-primary !important;
    }

    .p-button-text:hover {
        background-color: rgba(18, 43, 119, 0.062) !important;
    }

    .p-datepicker-weekday {
        color: #b8b8b8 !important;
    }

    .p-datepicker-weekday-cell {
        text-align: center;
    }

    .p-datepicker-day,
    .p-datepicker-month,
    .p-datepicker-year,
    .p-datepicker-decade {
        color: #3f3f3f !important;
    }



    .p-datepicker-today .p-datepicker-day,
    .p-datepicker-day:hover,
    .p-datepicker-select-month:hover,
    .p-datepicker-select-year:hover,
    .p-datepicker-month:hover,
    .p-datepicker-year:hover,
    .p-datepicker-day-selected, 
    .p-datepicker-month-selected, 
    .p-datepicker-year-selected {
        background-color: $color-primary !important;
        color: white !important;
    }
}