<div *ngIf="control">
    <span [class]="label && label !== '' ? 'flex gap-1' : 'flex gap-1 justify-content-end'">
        <label dir="auto" class="block text-sm/6 font-medium text-gray-900 mb-1" [htmlFor]="label">{{ label }}</label>
        @if (isCurrentControlRequiredOnDefault() && showRequiredIcon) {
        <span class="text-right" [style]="{ color: 'red' }">*</span>
        }

    </span>

    <div class="d-flex flex-col gap-3">
        <input [readOnly]="isReadOnly" [formControl]="control" pAutoFocus [autofocus]="autoFocus" [id]="uniqueId"
            [type]="type" [placeholder]="placeholder"
            [class]="isCurrentControlRequiredOnDefault() ? 'p-inputtext-sm required' : 'p-inputtext-sm'"
            aria-describedby="label" class="w-full" [ngClass]="{ 'ng-invalid ng-dirty': isError() }" pInputText />

        <app-data-loader class="d-flex justify-content-center align-items-center" [dataLoaded]="dataLoaded"></app-data-loader>
    </div>

    <small id="sm-text-{{ label }}" *ngIf="hasSmallText">{{ smallText }}</small>

    <ng-container *ngIf="isError()">
        <app-prime-error [direction]="direction" [customErrorMessages]="customErrorMessages" [errors]="control.errors">
        </app-prime-error>
    </ng-container>
</div>