
<p-button label="Click" (onClick)="OpenModel()"></p-button>
 <p-dataview #dv [value]="users()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of users(); let first = first" class="col-span-12 item">
                <div>{{item.name}}</div>
                <div class="btn-grp">
                  <p-button (click)="showDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

@if(visible()) {

    <app-reactive-form (onClose) = "onClose()" (onCreate)="onCreate($event)" (onUpdate)="onUpdate($event)" [editData]="filteredData()"></app-reactive-form>
}
<router-outlet />
